<div class="col-md-6">
    <div class="card-fondo-formulario-respuesta">
        <div class="card-formulario-respuesta">
            <h1 class="fw-bold"> <mat-icon>rocket_launch</mat-icon> COMENTAR <mat-icon>rocket_launch</mat-icon>
            </h1>

            <textarea id="mensaje" class="w-100" rows="10" type="text"
                placeholder="Ingresa tu respuesta"></textarea>

            <div class="mt-5">
                <button mat-button>
                    <mat-icon>chat</mat-icon> ENVIAR COMENTARIO
                </button>
            </div>
        </div>
    </div>

</div>