<mat-card class="hover-shadow">
    <div class= "mat-card-header">
        <div class="category-box">{{ tema.genero }}</div>
      
      <div class="avatar-img">
          <img class="img-redonda" [src]="tema.filePerfil! | apiImg" [alt]="tema.titulo">
      </div>
      <div class="text-container">
        <mat-card-title> <a [routerLink]="['/tema/', tema.id]"> {{ tema.titulo | slice: 0:20 }} ...</a> </mat-card-title>
        <mat-card-subtitle>{{ tema.usuarioNombre }}</mat-card-subtitle>
      </div>
    </div>

    <mat-card-content>
      <p>
        {{ tema.mensaje | slice: 0: 45}}...
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button (click)="toggleLike()">
        <mat-icon [class.liked]="liked" >thumb_up</mat-icon> LIKE
    </button>
      <button mat-button [routerLink]="['/tema/', tema.id]">
        <mat-icon>chat</mat-icon> COMENTAR
      </button>
      
    </mat-card-actions>
  </mat-card>